<div class="main">
    <h1>お問い合わせ</h1>
    <div class="home-contents">
        <p>FIST CLUBに対してご意見やご質問などがある方は
        下のリンクよりtwitterのダイレクトメッセージにてご連絡お願いいたします。</p>
        <%= link_to("twitterへ", "https://twitter.com/fist_club2019",{target: :_blank}) %>
    </div>
    
</div>
        
        