<div class="main">
    <% provide(:title, "プライバシーポリシー" ) %>
    <h1>プライバシーポリシー</h1>
    <div class="home-contents">
        <h2>このサイトについて</h2>
        <p>このウェブサイトのアドレスは「http://f-ist.club」(以下、「本サイト」）です。</p>
        <h2>プライバシーポリシー</h2>
        <p>本サイトは、本サイトが取得した個人情報の取扱いに関し、個人情報の保護に関する法律、
        個人情報保護に関するガイドライン等の指針、その他個人情報保護に関する関係法令を遵守します。</p>
        <h2>個人情報の安全管理</h2>
        <p>本サイトは、個人情報の保護に関して、組織的、物理的、人的、技術的に適切な対策を実施し、
        本サイトの取り扱う個人情報の漏えい、
        滅失又はき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講ずるものとします。</p>
        <h2>個人情報の取得等の遵守事項</h2>
        <p>本サイトによる個人情報の取得、利用、提供については、以下の事項を遵守します。</p>
        <h3>個人情報の取得</h3>
        <p>本サイトの運営に必要な範囲で、本サイトの一般利用者（以下「ユーザー」といいます。）又は
        本サイトに広告掲載を行う者（以下「掲載主」といいます。）から、
        ユーザー又は掲載主に係る個人情報を取得することがあります。</p>
        <h3>個人情報の利用目的</h3>
        <p>本サイトは、本サイトが取得した個人情報について、法令に定める場合又は本人の同意を得た場合を除き、
        以下に定める利用目的の達成に必要な範囲を超えて利用することはありません。</p>
        <p>①　本サイトの運営、維持、管理</p>
        <p>②　本サイトを通じたサービスの提供及び紹介</p>
        <h3>個人情報の提供等</h3>
        <p>本サイトは、法令で定める場合を除き、本人の同意に基づき取得した個人情報を、本人の事前の同意なく第三者に提供することはありません。
        なお、本人の求めによる個人情報の開示、訂正、追加若しくは削除又は利用目的の通知については、
        法令に従いこれを行うとともに、ご意見、ご相談に関して適切に対応します。</p>
        <h2>個人情報の利用目的の変更</h2>
        <p>当社は、前項で特定した利用目的は、予め本人の同意を得た場合を除くほかは、原則として変更しません。
        但し、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲において、
        予め変更後の利用目的を公表の上で変更を行う場合はこの限りではありません。</p>
        <h2>個人情報の取扱いの改善・見直し</h2>
        <p>本サイトは、個人情報の取扱い、管理体制及び取組みに関する点検を実施し、継続的に改善・見直しを行います。</p>
        <h2>個人情報の廃棄</h2>
        <p>当社は、個人情報の利用目的に照らしその必要性が失われたときは、個人情報を消去又は廃棄するものとし、当該消去及び廃棄は、
        外部流失等の危険を防止するために必要かつ適切な方法により、業務の遂行上必要な限りにおいて行います。</p>
        <h2>広告の配信について</h2>
        <p>当サイトは第三者配信の広告サービス「Google Adsense グーグルアドセンス」を利用しています。
        広告配信事業者は、ユーザーの興味に応じた広告を表示するためにCookie（クッキー）を使用することがあります。
        Cookie（クッキー）を無効にする設定およびGoogleアドセンスに関する詳細は「<%= link_to("広告 – ポリシーと規約 – Google","https://policies.google.com/technologies/ads?hl=ja") %>」をご覧ください。
        また、本サイトは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。
        第三者がコンテンツおよび宣伝を提供し、訪問者から直接情報を収集し、訪問者のブラウザにCookie（クッキー）を設定したりこれを認識したりする場合があります。
        </p>
        <h2>アクセス解析ツールについて</h2>
        <p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
        このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
        このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
        この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
        この規約に関して、詳しくは<%= link_to("ここをクリック","https://www.google.com/analytics/terms/jp.html") %>してください。</p>
        <h2>免責事項</h2>
        <p>当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。
        記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接ご連絡下さい。確認後、対応させて頂きます。
        当サイトからリンクやバナーなどによって他のサイトに移動された場合、
        移動先サイトで提供される情報、サービス等について一切の責任を負いません。
        当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、
        誤情報が入り込んだり、情報が古くなっていることもございます。
        当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
    </div>
</div>
