<div class="main">
    <% provide(:title, "記事一覧" ) %>
    <h1>管理人のブログ</h1>
    <p>最新ニュースだったり、格闘技に関するブログ書いてます</p>
    <% @news.each do |news| %>
        <%= link_to("/news/#{news.posting_time}") do %>
            <div class="event-contents">
                <h2><%= news.title %></h2>
                <p style="font-size:13px;"><%= news.created_at.to_s(:event_date) %></p>
            </div>
        <% end %>
    <% end %>
    <%= paginate @news %>
</div>
