
        <div class="main">
    
            <div class="main-contents">
                <div class="rizin-event">
                </div>
            </div>
            <div class="main-contents">
                <div class="ufc-event">
                    
                </div>
            </div>
            <div class="main-contents">
                <div class="onechampionship-event">
                    
                </div>
            </div>
            <div class="main-contents">
                <div class="mma-result">
                    
                </div>
            </div>
        </div>

